
<div class="d-flex justify-content-center flex-wrap" >
<h2 style="text-align:center">   <%= link_to "All Listings", listings_path %>  ||  <%= link_to "Add a New Listing", new_listing_path %> <br/> 

	<%= form_tag(listings_path, method: :get) do %>
  	City: <%= text_field_tag :search, params[:search] %>
<!--    	Price: <%= number_field_tag :search, params[:search] %> -->
   	<%= submit_tag "Search" %>
   <% end %> </h2> 
</div>
s

<div class="d-flex justify-content-center flex-wrap" >
	<% @listings.each do |listing| %>
	<a href="/listings/<%= listing.id %>">
<!-- 		<h2> Price: <%= listing.price %> </h2>  -->
	<h2> City: <%= listing.city %> </h2>
	<%= image_tag listing.listing_img.url(:listing_index), class: "listing" %>
	</a>
	<%end%>
</div>



	<div class="d-flex justify-content-center flex-wrap" >
	  <h3 > <%= will_paginate @listings %> </h3> 
	 </div>
