<h1> All your pending reservations. Make a payment to confirm the booking. </h1>


 <% @user_reservation.each do |reservation| %>
 	<div style=" display: inline-block" class = "reservation" > 
	    <p> Start Date: <%= reservation.start_date %> </p>
	   	<p> End Date: <%= reservation.end_date %> </p>
	   	<p> <%= reservation.listing.name %> </p>
	    <%= image_tag reservation.listing.listing_img.url(:listing_index) %> 
	    <h3> <%= link_to "Make Payment to Confirm Booking", new_user_reservation_payment_path(current_user.id, reservation.id) %> </h3>
      </div>
 <% end %>